:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --button-text-collor: #4d5ae5;
  --button-bacground-collor: #f4f4fd;
  --main-text: Roboto;
  --Logo-text: Raleway;
  --hover-color: #404bbf;
  --main-bacground-color: #ffffff;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 1158px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bacground-color);
}
.header {
  background-color: #ffffff;
}
/* LOGO */
.studioword {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
/* Navigation */

.nav-list .link {
  list-style: none;
  font-family: var(--main-text);
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
}
.contacts-list {
  margin-bottom: 0px;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--hover-color);
}

/* Addresses */
.address {
  font-style: normal;
}
.contact-link {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}
/* Hero section */
.hero {
  background: #2e2f42;
  height: 600px;
  text-align: center;
  margin: 0;
  padding-top: 188px;
}
.hero-title {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin-bottom: 48px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background: #4d5ae5;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: var(--hover-color);
}
/* Features */
.futures {
  margin-top: 120px;
}
.features-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
.features-item {
  width: 264px;
}
.subject-features {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 8px;
}
.text-features {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
/* What are we doing */
.whatwedo-section {
  margin-top: 120px;
}
.title {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
/* Team section */
.team-section {
  background: #f4f4fd;
  margin-top: 120px;
  padding-top: 120px;
}
.team-list {
  margin-bottom: 0px;
}
.team-member {
  background: var(--main-bacground-color);
  width: 264px;
  height: 380px;
}
.name-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 8px;
}
.position-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0px;
}
.card-content {
  margin: 32px 16px;
}
/* Footer */
.footer {
  background: var(--title-color);
  height: 312px;
  padding: 100px 1020px 100px 156px;
}
.footer-content {
  width: 264px;
  height: 112px;
}
.footer-logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-second-logoword {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 0px;
}

/* Portfolio page */
/* Header is the same as at the main page */
/* Filters section */
/* buttons menu */
.filers-section {
  margin-top: 120px;
}
.filter-button {
  background: var(--button-bacground-collor);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-text-collor);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background: #404bbf;
  color: #ffffff;
}
/* Portfolio-links-section */
.portfolio-list .link {
  text-decoration: none;
  list-style: none;
}
.portfolio-list {
  margin-top: 72px;
  margin-bottom: 0px;
}
.portfolio-card {
  width: 360px;
  height: 420px;
}
.portfolio-card-content {
  margin: 32px 0px 32px 0px;
}
.main-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 8px;
}
.type {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0;
}
/* Portfolio Footer */
